nav {
    background-color: #58cced;
}

.navbar-brand {
    margin-left: 20px;
}

.navbar-toggler {
    margin-right: 20px;
}

a.nav-link.active {
    color: #072f5f;
    text-decoration: underline;
}

.navbar-collapse {
    margin-left: 20px;
}